<!-- <div class="container-fluid expand-lg fixed-bottom">
    <p class="card-text text-center fs-6 text-danger mt-2">© 2025 Smart Coders Academy</p>
</div> -->

 <footer class=" mt-2 expand-lg fixed-bottom">
                    <div class="py-4 px-4 sm:px-6">
                        <div class="text-center text-sm text-gray-600 dark:text-gray-400">
                            2025 SMARTS CODERS ACADEMY. All rights reserved.
                        </div>
                    </div>
                </footer>