<div class="container-fluid">
    <div class="row mt-3 mb-6">
        <div class="col-md-6 text-align-left">
        <h1>Contactanos</h1>
        <p>Inicia tu carrera en el mundo del desarrollo de software!</p>
        <p>Si tienes alguna pregunta o necesitas más información, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte.</p>
        <h3 class="text-align-left text-primary">Telefono</h3>
        <p>6691429322</p>
        <h3 class="text-align-left text-primary">Correo</h3>
        <a href="mailto:jesus.he.payan@gmail.com">jesus.he.payan</a>
        <h3 class="text-align-left text-primary">Ubicación</h3>
        <p>San Esteban 12013, La Cantera</p>
        <h3 class="text-align-left text-primary">Horarios</h3>
        <p>Sabados: 3:00 pm - 6:00 PM</p>
        </div>
        <div class="col-md-6">
        <h1>Ubicación</h1>
        <p>Estamos ubicados en Mazatlán, Sinaloa, México. Puedes encontrarnos en la siguiente dirección:</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.881253542346!2d-106.38046688810508!3d23.28376407890388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8698ad3a6ca03641%3A0x24c6559a7df68dc6!2sC.%20San%20Esteban%2C%2082139%20Mazatl%C3%A1n%2C%20Sin.!5e0!3m2!1ses-419!2smx!4v1746249426308!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>

