<div mat-dialog-content class="full-width" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 20px; width: 25rem;">
    <form #signupForm="ngForm" class="mt-2 fs-5" (ngSubmit)="this.onSubmit('assistance')" method="post" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 20px; width: 25rem;">
        <p class="fs-5 fw-medium  lh-base" style="color: greenyellow;">Confirme su contraseña</p>
        <input
            type="text"
            id="Nombre"
            name="name"
            required
            [(ngModel)]="this.password"
            class="form-control fs-6 text-start text-white p-2 flex-fill w-75"
            #nameField="ngModel"
        />
        <div class="class d-flex flex-row justify-content-center mt-2">
            <button type="submit" class="btn btn-success w-25 ml-2 mb-4 mt-4 justify-content-center" >Confirmar</button>
            <!-- <button type="button" class="btn btn-danger w-50 ml-2 mb-4 mt-4 justify-content-center" (click)="closeDialog()">Cerrar</button> -->
        </div>
    </form>
</div>