<div class="container-fluid ">
    <div class="row justify-content-center align-items-center vh-100 mt-3">
        <div class="col-12 col-md-6 col-lg-4"> 
        <div class="card shadow-lg border-0 rounded-3" id="cardSignUp">
            <div class="card-body">
                <h1 class="text-center text-primary"><b>Registro</b></h1>
                <img src="{{appComponent.logoUrl}}" alt="Logo" class="img-fluid mb-3 mt-3" height="100" width="100" style="display: block; margin: auto;">
                  <p class="text-center">Bienvenido a la plataforma de Smart Coders, por favor completa el siguiente formulario para registrarte.</p>
                <form #signUpForm (ngSubmit)="onSubmit()" method="post">    
                <div class="mb-3">
                        <label for="textBoxName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="textBoxName" placeholder="Juan Perez Lopez" required>
                    </div>
                    <div class="mb-3">
                        <label for="textBoxEmail" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="textBoxName" placeholder="JuanPerezLopez@outlook.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="phoneTextBox" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="phoneTextBox" placeholder="6691....." required>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100" routerLink="/sign-up">Registrarse</button>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-danger w-100" routerLink="/sign-up">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>