<div class="container-fluid">
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card w-60 h-100" id="mainCard">
                    <div class="row justify-content-center align-items-center">
                        <h5 class="card-title text-center fs-3 fw-bold mb-2 text-secondary">Registro</h5>
                        <img src="{{this.imgToShow[0].label}}" class="card-img-top" alt="Logo">
                    </div>    
                    <div class="row justify-content-center align-items-center">
                        <p class="card-text text-center fs-6 text-secondary">Ingresa tus datos para continuar</p>
                        <form #signupForm="ngForm" class="w-100 mt-2 text-secondary" (ngSubmit)="this.registrer()" method="post">
                            <!-- Add form fields here -->
                        <div class="mb-2">
                            <label for="textBoxName" class="form-label">Nombre:</label>
                            <input type="text" id="name" class="form-control" placeholder="" name="name" [(ngModel)]="this.student.name" required />
                        </div>
                        <div class="mb-2">
                            <label for="textBoxEmail" class="form-label">Correo:</label>
                            <input type="email" id="email" class="form-control" placeholder="" name="email" [(ngModel)]="this.student.email" required />
                        </div>
                        <div class="mb-2">
                             <label for="textBoxEmail" class="form-label">Telefono:</label>

                            <input type="tel" id="phone" class="form-control" placeholder="" name="phone" [(ngModel)]="this.student.phone" required />
                        </div>
                        <div class="justify-content-center align-items-center vh-50 mt-4">
                            <button type="submit" class="btn btn-outline-success w-100 ml-2 mb-4">Enviar</button>
                           
                        </div>
                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>
