<div class="container-fluid text-white p-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-4 text-center" id="whoweare">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title"><b>Somos Smart Coders Academy</b></h2>
                    <img [src]="logoUrl" height="300" width="300" class="" alt="">
                    <p class="card-text">"<b>The best way to learn coding</b>"</p>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center"><b>Nuestra Misi&oacute;n</b></h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Formar desarrolladores de software altamente capacitados, éticos y comprometidos, mediante una educación práctica, actualizada y centrada en las necesidades del mercado tecnológico, fomentando el pensamiento crítico, la resolución de problemas y la mejora continua.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center"><b>Nuestra Visi&oacute;n</b></h2>
                </div>
                <div class="card-body text-justify">
                    <p class="card-text">Formar desarrolladores de software altamente capacitados, éticos y comprometidos, mediante una educación práctica, actualizada y centrada en las necesidades del mercado tecnológico, fomentando el pensamiento crítico, la resolución de problemas y la mejora continua.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title text-center"><b>Nuestros Valores</b></h2>
                </div>
                <div class="card-body text-justify">
                    <ul>
                        <li class="card-text">Honestidad</li>
                        <li class="card-text">Responsabilidad</li>
                        <li class="card-text">Compromiso</li>
                    </ul>
                </div>
            </div>
        </div>
</div>