<!-- <div class="container-fluid">
    <h1 class="text-center mt-5"><b>Inicia tu aprendizaje</b></h1> 
     <h1 class="text-center mt-5">Escoje tu ruta de aprendizaje</h1>
    <mat-stepper orientation="horizontal" linear #stepper class="mt-5" >
        <mat-step>
          <ng-template matStepLabel><h1 class="text-center" >Inicia tu aprendizaje</h1></ng-template>
            <ng-template matStepContent id="step1">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-card">
                            <img src="{{beginnersImageUrl}}" class="card-img-body" alt="Spring">
                            <div class="card-body">
                                <h2 class="card-title text-center">Fundamentos</h2>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <img src="{{gitHubImageUrl}}" class="card-img-body text-center" alt="Java">
                                            <h1 class="text-center">Git y GitHub</h1>
                                            <mat-expansion-panel hideToggle="true" class="text-center">
                                                <mat-expansion-panel-header class="text-justify">
                                                <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>         
                                                </mat-expansion-panel-header>
                                                <h4>Git y GitHub son herramientas fundamentales para el desarrollo de software,
                                                    pero tienen funcionalidades diferentes. Git es un sistema de control de versiones distribuido que permite rastrear y gestionar los cambios en el código.
                                                    GitHub, por otro lado, es una plataforma basada en la nube que proporciona herramientas de colaboración y alojamiento de repositorios Git. </h4>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <img src="{{javaImageUrl}}" class="card-img-body text-center" alt="Java">
                                            <mat-panel-title class="text"><h3 class="text-center"><b>Java</b></h3></mat-panel-title>
                                                <mat-expansion-panel hideToggle class="text-center">
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>
                                                </mat-expansion-panel-header>
                                                    <p class="text-justify">                                        
                                                        Java es un lenguaje de programación de alto nivel, robusto, orientado a objetos, 
                                                        que permite el desarrollo de aplicaciones multiplataforma. 
                                                        Se caracteriza por ser fácil de usar, seguro, distribuido, 
                                                        dinámico y de alto rendimiento. 
                                                    </p>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <img src="{{sqlImageUrl}}" class="card-img-body text-center" alt="Java">
                                            <h1 class="text-center">Bases de datos relacionales</h1>
                                            <mat-expansion-panel hideToggle class="text-center">
                                                <mat-expansion-panel-header class="text-justify">
                                                <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>         
                                                </mat-expansion-panel-header>
                                                <h4>Las bases de datos relacionales se caracterizan por la organización de datos en tablas con filas y columnas,
                                                    permitiendo relaciones entre ellas a través de claves primarias y foráneas. Además,
                                                    ofrecen propiedades ACID para garantizar la integridad de los datos. 
                                                </h4>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="card">
                                            <img src="{{pooImageUrl}}" class="card-img-body text-center" alt="Java">
                                            <h1 class="text-center">POO (Programación Orientada a Objetos)</h1>
                                            <mat-expansion-panel hideToggle class="text-center">
                                                <mat-expansion-panel-header class="text-justify">
                                                <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>         
                                                </mat-expansion-panel-header>
                                                <h4>La programación orientada a objetos (POO) es un paradigma de programación que organiza el software en torno a objetos, que combinan datos y comportamientos. En lugar de enfocarse en funciones y lógica, la POO se concentra en los objetos que los programadores necesitan manipular. Esto permite crear software más modular, reutilizable y fácil de mantener.</h4>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
                <button mat-button matStepperNext>Next</button>
            </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 2</ng-template>
          <ng-template matStepContent>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <img src="{{midDeveloperImageUrl}}" class="card-img-body" alt="Spring">
                        <div class="card-body">
                            <h2 class="card-title text-center">Desarrollador Backend</h2>
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <img src="{{springImageUrl}}" class="card-img-body text-center" alt="Java">
                                        <h1 class="text-center">Spring y Spring Boot</h1>
                                        <mat-expansion-panel hideToggle="true" class="text-center">
                                            <mat-expansion-panel-header class="text-justify">
                                            <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>         
                                            </mat-expansion-panel-header>
                                            <h4>Hibernate es un framework de mapeo objeto-relacional (ORM) que facilita la comunicación entre objetos Java y una base de datos relacional. Spring Boot, por otro lado, es un framework para facilitar el desarrollo de aplicaciones Java, simplificando la configuración y proporcionando dependencias predefinidas. 
                                                </h4>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="{{hibernateImageUrl}}" class="card-img-body text-center" alt="Java" width="7" height="60">
                                        <mat-panel-title class="text"><h1 class="text-center"><b>Hibernate y JPA </b></h1></mat-panel-title>
                                            <mat-expansion-panel hideToggle class="text-center">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>
                                            </mat-expansion-panel-header>
                                                <p class="text-justify">                                        
                                                    Java es un lenguaje de programación de alto nivel, robusto, orientado a objetos, 
                                                    que permite el desarrollo de aplicaciones multiplataforma. 
                                                    Se caracteriza por ser fácil de usar, seguro, distribuido, 
                                                    dinámico y de alto rendimiento. 
                                                </p>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <img src="{{junitImageUrl}}" class="card-img-body text-center" alt="Java">
                                        <h1 class="text-center">Bases de datos relacionales</h1>
                                        <mat-expansion-panel hideToggle class="text-center">
                                            <mat-expansion-panel-header class="text-justify">
                                            <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>         
                                            </mat-expansion-panel-header>
                                            <h4>JUnit es un framework de pruebas unitarias en Java, utilizado para escribir y automatizar pruebas de código. Permite a los desarrolladores verificar que cada componente o unidad de código funcione correctamente y como se espera.  
                                            </h4>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="{{apiImageUrl}}" class="card-img-body text-center" alt="Java">
                                        <h1 class="text-center">POO (Programación Orientada a Objetos)</h1>
                                        <mat-expansion-panel hideToggle class="text-center">
                                            <mat-expansion-panel-header class="text-justify">
                                            <mat-panel-title><h3 class="text-center">Expande para ver detalles</h3></mat-panel-title>         
                                            </mat-expansion-panel-header>
                                            <h4>Las API, o Interfaz de Programación de Aplicaciones (Application Programming Interface), son conjuntos de reglas, definiciones y protocolos que permiten que diferentes aplicaciones de software se comuniquen y compartan datos entre sí. En esencia, son un intermediario que facilita la interacción entre programas sin que estos necesiten conocer los detalles internos de la implementación del otro. 
</h4>
                                        </mat-expansion-panel>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Step 3</ng-template>
          <p>This content was rendered eagerly</p>
          <button mat-button matStepperPrevious>Back</button>
        </mat-step>
    </mat-stepper>
    <div class="row">
        Escoje tu ruta de aprendizaje
        <div class="col-md-12 text-center">
       <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button> 
              <mat-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Fundamentos</ng-template>
                    <mat-form-field>
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
                      <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <img src="{{springImageUrl}}" class="card-img-body" alt="Spring">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Springboot</b></h3>
                                    <h4 class="card-text">Crear aplicaciones web con Spring Boot, un framework de Java que facilita el desarrollo de aplicaciones empresariales.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="{{hibernateImageUrl}}" class="card-img-body text-center" alt="Angular">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Hibernate</b></h3>
                                    <h4 class="card-text">Manipula la informacion de tu  base de datos desde tu aplicacion web con Hibernate</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="{{junitImageUrl}}" class="card-img-body text-center" alt="Angular">
                                <div class="card-body">
                                    <h3 class="card-title"><b>JUnit</b></h3>
                                    <h4 class="card-text">Prueba tus desarrollos con utilizando JUnit, un framework de pruebas unitarias para Java.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                  <form [formGroup]="secondFormGroup">
                    <mat-form-field>
                      <mat-label>Address</mat-label>
                      <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                             required>
                    </mat-form-field>
                    <div>
                      <button mat-button matStepperPrevious>Back</button>
                      <button mat-button matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  <p>You are now done.</p>
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-stepper>
            <h2 class="card-title text-center mt-4"><b>Fundamentos</b></h2>
                                
        </div>
    </div>


                <div class="card-body text-center ">
                    <div class="row">
                        <div class="col-md-4">
                            
                        </div>
                       
                        
                      
                <div class="card-body text-center">
                    <h2 class="card-title text-center"><b>Desarrollador Backend</b></h2>
                    <img src="{{midDeveloperImageUrl}}" class="card-img-top" width="60" height="60" alt="...">
                  <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <img src="{{springImageUrl}}" class="card-img-body" alt="Spring">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Springboot</b></h3>
                                    <h4 class="card-text">Crear aplicaciones web con Spring Boot, un framework de Java que facilita el desarrollo de aplicaciones empresariales.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="{{hibernateImageUrl}}" class="card-img-body text-center" alt="Angular">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Hibernate</b></h3>
                                    <h4 class="card-text">Manipula la informacion de tu  base de datos desde tu aplicacion web con Hibernate</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="{{junitImageUrl}}" class="card-img-body text-center" alt="Angular">
                                <div class="card-body">
                                    <h3 class="card-title"><b>JUnit</b></h3>
                                    <h4 class="card-text">Prueba tus desarrollos con utilizando JUnit, un framework de pruebas unitarias para Java.</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title text-center"><b>Desarrollador FullStack</b></h2>
                    <img src="{{advancedImageUrl}}" class="card-img-top" width="60" height="60" alt="...">
                    <div class="row">
                        <div class="col-4">
                            <div class="card">
                                <img src="{{basicFrontendImageUrl}}" class="card-img-body" alt="Spring">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Frontend basico</b></h3>
                                    <h4 class="card-text">Crear paginas web sencillas con html 5, css, javascript y bootstrap</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="{{advancedFrontendImageUrl}}" class="card-img-body text-center" alt="Angular">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Frontend Avanzado</b></h3>
                                    <h4 class="card-text">Desarrolla tus aplicaciones webs integrando el frontend con Angular y el backend con Spring Boot</h4>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card">
                                <img src="{{devopsImageUrl}}" class="card-img-body text-center" alt="Angular">
                                <div class="card-body">
                                    <h3 class="card-title"><b>Devops</b></h3>
                                    <h4 class="card-text">Despliega tus aplicaciones en servidores de internet para que puedan ser accedidas desde cualquier parte del mundo</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <h2 class="text-start text-dark mt-3">Inica tu aprendizaje</h2>
    </div>
    <div class="row justify-content-md-center mb-3"style="background: #e9ecef;">
        <h2 class="text-center text-dark mt-3">Tronco Comun</h2>
        <div class="col-md-4">
            <div class="card">
                <img [src]="gitHubImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Aprenderas a usar herramientas como git y github para versionar tu codigo y trabajar en equipo con otros desarrolladores.
            </p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img [src]="javaImageUrl" ngClass="img-fluid align-text-center" height="1000" width="1000" alt="" class="align-self-center">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Aprenderas los fundamentos del lenguaje de programacion Java y crearas tus primeras aplicaciones con el.
            </p>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img [src]="pooImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Aprenderas los fundamentos del paradigma de programacion orientada a objetos y crearas tus primeras aplicaciones con el
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <h2 class="text-center text-dark mt-3">Desarrollador Backend</h2>
        <div class="col-md-3">
            <div class="card">
                <img [src]="javaImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Profundizaremos en el lenguaje de programacion Java asi como el framework Collections el manejo de excepciones
            </p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="sqlImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Aprenderas los fundamentos de diseño de bases de datos relacionales, asi como el lenguaje SQL para la manipulacion de datos. 
            </p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="springImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
               Aprenderas a crear tus primeras aplicaciones web con Spring Boot, un framework de Java que facilita el desarrollo de aplicaciones empresariales.
            </p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="junitImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Probaras la calidad de tus metodos y clases de tus desarrollos  integrando pruebas unitarias con el framework para Java JUnit.
            </p>
        </div>
    </div>
    <div class="row justify-content-md-center"style="background: #e9ecef;">
        <h2 class="text-start text-dark mt-3">Desarrollador Frontend</h2>
        <div class="col-md-3">
            <div class="card">
                <img [src]="htmlImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
               Usa HTML para Definir la estructura y contenido (títulos, párrafos, imágenes, enlaces, formularios, etc.) definir la estructura de tu sitio web.
            </p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="cssImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Lenguaje de estilos que da formato y diseño a páginas HTML,Controla colores, fuentes, márgenes, tamaños, posiciones, etc.
            </p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="boostrapImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
            <p class="lh-base fs-5 text-center text-secondary">
                Usa boostrap para crear interfaces modernas y adaptables a móviles, usando un Framework CSS basado en componentes y diseño responsivo.
            </p>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img [src]="angularImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
            </div>
                <p class="lh-base fs-5 text-center text-secondary">
                    Crea aplicaciones grandes y escalables web SPA (Single Page Applications), usa componentes, servicios, módulos y enrutamiento.
                </p>
        </div>
    </div>
        <div class="row justify-content-md-center">
            <h2 class="text-start text-dark mt-3">Desarrollador FullStack</h2>
            <div class="col-md-3">
                <div class="card">
                    <img [src]="apiImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img [src]="springImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img [src]="angularImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img [src]="junitImageUrl" ngClass="img-fluid" height="1000" width="1000" class="align-self-center" alt="">
                </div>
            </div>
    </div>
    <div class="row justify-content-md-center">
      <p class="lh-base fs-5 text-center text-secondary">
      En nuestra academia de desarrollo de software te acompañamos desde cero hasta convertirte en un profesional listo para el mundo real. Ofrecemos una formación integral, práctica y enfocada en lo que verdaderamente se necesita en la industria tecnológica actual.             
      </p>  
    </div> 
</div>