<div class="container-fluid w-100 h-100 vh-100">
    <div class="row justify-content-center flex-wrap mb-2 ">
        <h1 class="text-center mt-5 mb-4  mt-2 text-3xl sm:text-4xl leading-8 font-extrabold tracking-tight" style="color: greenyellow;">Carrier Path</h1>
        <p class="text-center mt-1 mb-4 text-white mt-2 text-3xl sm:text-4xl leading-8 font-extrabold tracking-tight text-wrap">Inicia tu aventura en el desarrollo de software con nuestro modulo de tronco comun, conviertete en un desarrollador backend con nuestro modulo de Desarrollador Backend muestra al mundo tus desarrollo con nuestro modulo Desarrollador Frontend</p>
        <div class="col-md-auto col-lg-12 col-sm-6 justify-content-center d-flex ">
                <div class="justify-content-center g-col-6 .g-col-6 .g-col-md-4 w-25 mt-2" *ngFor="let content of contentInfo" >
                    <!-- <div class="content" > -->
                        <h1 class="lh-base fs-4 text-start text-warning text-sucess"><b>{{content.title}}</b></h1>
                        <img src="{{content.imagePath}}" class="w-100 h-75 align-items-center mb-2 text-dark p-4" alt="..." (click)="openRegistration()">
                        <p class="lh-base fs-6 text-justify text-white">{{content.description}}</p>
                    <!-- </div> -->  
                </div>
        </div>  
    </div>
</div>