<div class="container-fluid">
    <div class="row justify-content-center"> 
        <h1 class="fs-2 fw-medium text-center mt-1 text-dark">{{mainInfo[0].title}}</h1>
        <div class="col-md-auto col-lg-6 col-sm-12 justify-content-center">
            <div class="col-md-12 text-center">
                <img src="{{mainInfo[0].imagePath}}"  class="text-center mt-3 w-80 h-80 align-items-center" alt="">
                <p class="lh-base fs-5 text-justify text-secondary mt-3">{{mainInfo[0].description}}</p>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngFor="let content of contentInfo" style="background: #e9ecef; ">
        <h1 class="fs-2 fw-medium text-center mt-2 text-dark">{{content.title}}</h1>
            <p class="lh-base fs-5 text-center text-secondary mt-3">{{content.description}}</p>
            <div class="content" *ngFor="let content of troncoComun" style="">
                <div class="col-md-12 text-center">
                    <img src="{{content.imagePath}}" class=" w-80 h-80 align-items-center" alt="...">
                    <h1 class="lh-base fs-4   text-center text-dark">{{content.title}}</h1>
                    <p class="lh-base fs-5  text-start text-secondary">{{content.description}}</p>
                </div>
            </div>   
    </div>
    <!--
    <div class="row justify-content-center"> 
        <h1 class="fs-2 fw-medium text-center mt-2 text-dark">{{contentInfo[2].title}}</h1>
            <p class="lh-base fs-5 text-center text-secondary mt-3">{{contentInfo[2].description}}</p>
            <div class="content" *ngFor="let content of backend" style="">
                <div class="col-md-12 text-center">
                    <img src="{{content.imagePath}}" class=" w-80 h-80 align-items-center" alt="...">
                    <h1 class="lh-base fs-4   text-center text-dark">{{content.title}}</h1>
                    <p class="lh-base fs-5  text-start text-secondary">{{content.description}}</p>
                </div>
            </div>   
    </div>
     <div class="row justify-content-center" style="background: #e9ecef;"> 
        <h1 class="fs-2 fw-medium text-center mt-2 text-dark">{{contentInfo[3].title}}</h1>
            <p class="lh-base fs-5 text-center text-secondary mt-3">{{contentInfo[3].description}}</p>
            <div class="content" *ngFor="let content of frontend" style="">
                <div class="col-md-12 text-center">
                    <img src="{{content.imagePath}}" class=" w-80 h-80 align-items-center" alt="...">
                    <h1 class="lh-base fs-4   text-center text-dark">{{content.title}}</h1>
                    <p class="lh-base fs-5  text-start text-secondary">{{content.description}}</p>
                </div>
            </div>   
    </div>
     <div class="row justify-content-center"> 
        <h1 class="fs-2 fw-medium text-center mt-2 text-dark">{{contentInfo[4].title}}</h1>
            <p class="lh-base fs-5 text-center text-secondary mt-3">{{contentInfo[4].description}}</p>
            <div class="content" *ngFor="let content of fullStack" style="">
                <div class="col-md-12 text-center">
                    <img src="{{content.imagePath}}" class=" w-80 h-80 align-items-center" alt="...">
                    <h1 class="lh-base fs-4   text-center text-dark">{{content.title}}</h1>
                    <p class="lh-base fs-5  text-start text-secondary">{{content.description}}</p>
                </div>
            </div>   
    </div> -->
        
</div>

<!-- <div class="container-fluid mt-3 mb-3">
    <div class="row justify-content-md-center mb-2 mt-2">
     <h2 class="text-center text-light mt-4 p-4 bg-primary">Inicia tu aventura para convertirte en un Desarrollador FullStack.</h2>
        <div class="col-md-12">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title><h2 class="text-center text-dark">Tronco Comun</h2></mat-panel-title>   
                </mat-expansion-panel-header>
                <div class="row justify-content-md-center mb-3 mt-2">
                    <img src="{{gitHubImageUrl}}" class="mx-auto mt-3" alt="">
                    <img src="{{javaImageUrl}}" class="mx-auto mt-3" alt="">
                    <img src="{{pooImageUrl}}" class="mx-auto mt-3" alt="">
                </div>
                <p class="lh-base fs-5 text-start text-secondary mt-3">
                    El tronco común es la base de todas las rutas. Aquí los estudiantes adquieren los fundamentos de la programación y la lógica computacional, además de las herramientas esenciales para cualquier desarrollador.
                    <br>Al finalizar el tronco común, los estudiantes estarán listos para elegir su especialización: backend, frontend o fullstack.
                </p>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="row justify-content-md-center mb-3 mt-2">
        <h2 class="text-center text-light mt-4 p-4 bg-primary">Conviertete en un desarrollador Backend</h2>
        <div class="col-md-12">
               <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title ><h2 class="text-center text-dark"> Desarrollador Backend</h2> </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row justify-content-md-center mb-3 mt-2">
                    <img src="{{javaImageUrl}}" class="mx-auto  mt-3" alt="">
                    <img src="{{sqlImageUrl}}" class="mx-auto  mt-3" alt="">
                    <img src="{{springImageUrl}}" class="mx-auto mt-3" alt="">
                    <img src="{{junitImageUrl}}" class="mx-auto mt-3" alt="">
                </div>
                <p class="lh-base fs-5 text-start text-secondary mt-3">
                    La ruta backend está orientada a construir la lógica del servidor, APIs robustas y la gestión de datos. Se enfoca en resolver problemas complejos, diseñar sistemas escalables y trabajar con bases de datos, autenticación, seguridad y más.
                    <br>
                    El estudiante egresará como un backend developer capaz de construir servicios robustos, seguros y listos para producción
                </p>
                </mat-expansion-panel>
        </div>
    </div>
    <div class="row justify-content-md-center mb-3 mt-2">
        <h2 class="text-center text-light mt-4 p-4 bg-primary">Conviertete en un desarrollador Frontend</h2>
        <div class="col-md-12">
               <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title ><h2 class="text-center text-dark"> Desarrollador Frontend</h2> </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row justify-content-md-center mb-3 mt-2">
                    <img src="{{htmlImageUrl}}" class="mx-auto  mt-3" alt="">
                    <img src="{{cssImageUrl}}" class="mx-auto  mt-3" alt="">
                    <img src="{{boostrapImageUrl}}" class="mx-auto mt-3" alt="">
                    <img src="{{angularImageUrl}}" class="mx-auto mt-3" alt="">
                </div>
                <p class="lh-base fs-5 text-start text-secondary mt-3">
                    La ruta frontend está enfocada en la creación de interfaces modernas, accesibles y responsivas. Se enseña a construir experiencias de usuario atractivas y funcionales usando herramientas y frameworks actuales.
                    <br>
                    El egresado será capaz de diseñar y desarrollar interfaces modernas y dinámicas, conectadas con servicios backend.
                </p>
                </mat-expansion-panel>
        </div>
    </div>
    <div class="row justify-content-md-center mb-3 mt-2">
        <h2 class="text-center text-light mt-4 p-4 bg-primary">Termina tu transformacion</h2>
        <div class="col-md-12">
               <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title ><h2 class="text-center text-dark"> Desarrollador Fullstack</h2> </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row justify-content-md-center mb-3 mt-2">
                    <img src="{{apiImageUrl}}" class="mx-auto  mt-3" alt="">
                    <img src="{{springImageUrl}}" class="mx-auto  mt-3" alt="">
                    <img src="{{angularImageUrl}}" class="mx-auto mt-3" alt="">
                    <img src="{{junitImageUrl}}" class="mx-auto mt-3" alt="">
                </div>
                <p class="lh-base fs-5 text-start text-secondary mt-3">
                    La ruta fullstack combina el desarrollo frontend y backend, formando profesionales versátiles capaces de crear aplicaciones completas, desde el diseño de la base de datos hasta la interfaz del usuario.
                    El estudiante fullstack egresará con un perfil integral, ideal para equipos pequeños, startups, o freelancing.
                </mat-expansion-panel>
        </div>
    </div>
  <p class="lh-base fs-5 text-center text-secondary mt-3 mb-3">
      En nuestra academia de desarrollo de software te acompañamos desde cero hasta convertirte en un profesional listo para el mundo real. Ofrecemos una formación integral, práctica y enfocada en lo que verdaderamente se necesita en la industria tecnológica actual.             
      </p> </div> -->