img {
    height: 10rem;
    width: 10rem;
    margin-top: 1rem;
}
.card-img-top{
    height: 8rem;
    width: 10rem;
}
.card-img-body{
    height: 6rem;
    width: 6rem;
      align-self: center;  
      
}
.card{

    margin: 1rem;
   
}