<div class="container-fluid">
    <div class="row justify-content-center" style="border: solid 2px #ccc; padding: 20px;">
        <div class="col-md-12">
            <h1 class="text-center text-primary">{{mainInfo[0].title}}</h1>
             <div class="text-center">
                <!-- <img src="{{mainInfo[0].imagePath}}" class="img-fluid mt-3 w-25 h-25" alt="Main Image"> -->
                <h4 class="text-center text-secondary mt-3">{{userName}}</h4>
            </div> 
            <p class="text-center text-secondary mt-3">{{mainInfo[0].description}}</p>
                     
        </div>
        <div class="col-md-12"  style="border: solid 2px #ccc; padding: 20px;">
            <div class="card" *ngFor="let crContent of linkscards" style="cursor: pointer; margin-left:2rem ; margin-right:2rem ;" (click)="openModal(crContent.cardTitle) " >
                 <h3 class="card-title text-center text-dark">{{crContent.cardTitle}}</h3>
                <!-- <img  src="{{crContent.imagePath}}" class=" align-self-center w-50 h-50" style="margin-left: 5rem; margin-right: auto;" alt="..." > -->
            </div>
        </div>    
    </div>
</div>
