<div class="container-fluid">
    <div class="row justify-content-center"> 
        <h1 class="fs-2 fw-medium text-center mt-1 text-dark">¡Conviértete en el programador que el mundo necesita!</h1>
        <div class="col-md-auto col-lg-6 col-sm-12 justify-content-center">
            <div class="col-md-12 text-center">
                <img src="{{contentToShow[0].imagePath}}" class="text-center w-100 h-100" alt="...">
            </div>
            <div class="col-md-12">
                <p class=" fs-4 lh-base text-center text-secondary">En nuestra escuela no solo aprendes a programar, te formas para crear soluciones reales.</p>
                <p class="fs-3 fst-normal text-center text-secondary">🚀 Empieza hoy tu camino al éxito.🚀</p>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-outline-success mt-2 w-30" type="submit" routerLink="/sign-up">Registrate</button>
                <button class="btn btn-outline-info mt-2 w-30" type="submit" routerLink="/sign-up" style="margin-left:2rem;">Oferta educativa</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center  mb-2" style="background: #e9ecef;">
         <h1 class="fs-2 fw-medium text-center mt-5 text-dark">Aprendizaje actual y personalizado</h1>
            <div class="content" *ngFor="let content of contentToShow" style="">
                <div class="col-md-12 text-center">
                        <img src="{{content.imagePath}}" class=" w-100 h-100 align-items-center" alt="...">
                        <h1 class="lh-base fs-4   text-center text-dark">{{content.title}}</h1>
                        <p class="lh-base fs-5  text-start text-secondary">{{content.description}}</p>
                </div>
            </div>
    </div>
    <div class="row justify-content-center mb-4"> 
        <h1 class="fs-2 fw-medium text-center mt-1 text-dark">¡Transforma tu potencial en habilidades reales!</h1>
        <div class="col-md-auto col-lg-6 col-sm-12 justify-content-center">
            <div class="col-md-12 text-center">
                <img src="{{imagesToShow[0].path}}" class="text-center" alt="...">
            </div>
            <div class="col-md-12 mb-2">
                <p class=" fs-5 lh-base text-center text-secondary">{{textToShow}}</p>
                <p class="fs-3 fst-normal text-center text-secondary">🚀 Registrate hoy tu camino al éxito.🚀</p>
            </div>
            <!-- <div class="col-md-12 text-center mb-4">
                <button class="btn btn-outline-success mt-2 w-30" type="submit" routerLink="/sign-up">Registrate</button>
                <button class="btn btn-outline-info mt-2 w-30" type="submit" routerLink="/sign-up" style="margin-left:2rem;">Oferta educativa</button>
            </div> -->
        </div>
</div>